/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/




.wrapper {
    min-height: 100%;
	
    
}
.header {
 background-color: rgb(243, 242, 240);
}

.container {
   max-width: 1200px;
    margin:0 auto;
    
}



.menu__1 {
  text-align: center; 
  display: flex;
 flex-direction: column;
 padding: 50px 0;


}
.menu__2{
   display: inline-flex;
   justify-content: space-between; 
   text-transform: uppercase;
   font-family: Arial, Helvetica, sans-serif;
   
  
}
.menu__3{
   display: inline-block;
   border: 1px solid #999595;
   background-color: rgb(57, 32, 68);
   padding:10px;
   border-radius:25px;
   font-family: ‘Rouge Script’, cursive;
   color:#fff;
  
}

.menu__3:hover{
    background-color: lightcyan;
    color: #000;
   
  
}

.ful_screen {
    position:relative;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    object-fit: cover;
   
}


.content {
}
.content__text,p{
    padding: 30px 0;
    font-size:18px;
    margin: 0px 0px 30px 0px;
}


.sidbar {
    text-align: center; 
    

}
.sidbar__vnutr {
     display: inline-flex;
    min-height: 300px;
    
     

}
.block {
    flex:0 0 22.222%;
     border-radius: 30px;
    color: #0f0f0f;
    border: 1px solid #445162;
     margin:0px 9px 0px 13px;
     padding:50px 0;
     background-color: azure;
     
}


.block__vn {
    font-family: ‘Rouge Script’, cursive;
    font-size: 30px;
    color: antiquewhite;
      text-shadow: 1px 1px 1px #2c0f5a;
    
}
.imgg{
    max-width: 90px;
    display: block;
    padding:10px 0px 0px 0px;
    margin:0 auto;

}

.block__1::before{
    content:url("../img/icon/ico2.png");
    animation-name: rotation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;


}
.block__1 {
    flex:0 0 22.222%;
     border-radius: 30px;
    color: #0f0f0f;
    border: 1px solid #445162;
     margin: 0px 9px 0px 13px;
     padding:50px 0;
     
}
.block__v1 {
    color:rgb(34, 13, 109);

   
    
}
.block__vnspan1{
    font-family: ‘Oleo Script’, cursive;
    display: inline-block;
    padding: 0px 0px 20px 0px;

    
}

.block__vnspan2{
    border: 1px solid #445162;
    background-color: rgb(181, 173, 226);
     border-radius: 20px;
     max-width:140px;
     min-height:40px;
    color:rgb(50, 12, 99);
    padding:12px 0px 0px 0px;
    display: block;
    margin: 0 auto;

}
.block__vnspan2:hover{
    background-color: #d831d8;
}

.imgg1::before{
    content:"";
    display: block;
    
}
.imgg1{
    width:30px;
  padding: 0px 0px 0px 10px;
  
    
}


.block__2 {
   flex:0 0 22.222%; 
   border-radius: 30px;
    color: #0f0f0f;
    border: 1px solid #445162;
     margin:0px 9px 0px 13px;
     padding:50px 0;
     background-color: black;
     
}
.block__v2{
    color: #eee;
    margin:0 auto;
    display: inline-block;
    padding: 0px 7px 0px 7px;
    font-size:15px;
     font-family: ‘Droid Sans’, sans-serif; 
     font-weight: 400; 
     line-height: 15px; 

    
}
.block__2vnspan1{
    display: inline-block;
    padding: 0px 0px 20px 0px;
    margin:0 auto;
    color: #899707;
    text-shadow: 1px 1px 1px #abf105;
    font-weight: bold;
     font-family: ‘Droid serif’, serif;
     font-size: 20px;
    
}
.block__2vnspan2{
    display: inline-block;
    
    margin:0 auto;
    color: #899707;
   
    font-weight: bold;
     font-family: ‘Droid serif’, serif;
     text-decoration: underline;
     font-size: 15px;
    
}


.block__3 {
    flex:0 0 22.222%;
     border-radius: 30px;
    color: #0f0f0f;
    border: 1px solid #445162;
     margin: 0px 9px 0px 13px;
     padding:50px 0;
     background-color:rgb(204, 91, 91)
}
.block__v3 {
     display: inline-block;
   padding: 0px 8px 0px 8px;
   font-family: ‘Orienta’, sans-serif; 
}

.block__3vnspan1{
    font-family: ‘Righteous’, cursive;
    color: #DFBF84; 
    text-transform: uppercase; 
    text-shadow: 1px 1px 0 #000;
   display: inline-block;
   padding: 0px 0px 20px 0px;
    text-align: center; 
    line-height: 20px;
}
.block__3vnspan2{
    color: rgb(252, 246, 246);
     font-family: ‘Righteous’, cursive;
      font-size:20px; 
      font-weight: normal; 
      line-height: 15px;
       text-transform: uppercase; 
       text-shadow: 2px 2px 0 #000;
        display: inline-block;
   padding: 0px 0px 20px 0px;

       
}
.riba1,.riba2{
    font-size: 20px;
    font-family: ‘Orienta’, sans-serif; 

 
}
.riba__1{
    color: rgb(119, 8, 8);
    text-decoration: underline;	
   font-style: italic;
   text-shadow: 1px 1px 1px #a8b910;
   
}
.riba3,.riba4{
    color: #0c0a0a; 
    font-family: ‘Carme’, sans-serif;
     font-size: 20px;
      line-height: 24px; 
      margin: 0 0 24px;
      font-weight: bold;
 
}
.riba__2{
     color: #a7e8f8; 
     font-family: ‘Julius Sans One’, sans-serif; 
     font-size: 22px;
      font-weight: bold;
       line-height: 32px; 
       margin: 0 0 24px;
        text-shadow: 1px 1px 1px #082b34;
   
}
.riba5,.riba6{
    color: #291313; 
     font-family: ‘Droid Sans’, sans-serif;
     font-size:19px;
      line-height: 24px; 
      
    font-style: italic;
 
}
.riba__3{
     color: #4f5e10; 
      font-family: ‘Droid serif’, serif;
     font-size: 20px;
      font-weight: bold;
       line-height:28px; 
       margin: 0 0 24px;
        text-shadow: 1px 1px 1px #082b34;
   
}
.riba7,.riba8{
   color: #333;
    font-family: ‘Original Surfer’, cursive; 
    font-size: 22px;
     line-height: 28px; 
 
}
.riba__4{
     color: #d831d8; 
      font-family: ‘Lobster’, cursive;
     font-size:25px;
     
       line-height:28px; 
       margin: 0 0 24px;
       font-weight: lighter;
   
}
.riba9,.riba10{
   color: rgb(71, 71, 65);
    font-family: ‘Helvetica Neue’, sans-serif; 
    font-size: 22px;
   
     font-weight: bold;
 
}
.riba__5{
     color: rgb(189, 185, 185);
      font-family: ‘Merriweather’, serif;
     font-size:25px;
   text-decoration: line-through;
       line-height:28px; 
       margin: 0 0 24px;
       font-weight: lighter;
   
}
.riba11,.riba12{
   color: rgb(18, 6, 83);
    font-family: ‘Open Sans Condensed’, sans-serif; 
    font-size: 22px;
   font-style: italic;
     font-weight: bold;
 
}
.riba__6{
     color: rgb(113, 207, 214);
      font-family: ‘Merriweather’, serif;
     font-size:25px;
   font-weight: bold;
       line-height:28px; 
       margin: 0 0 24px;
       
   
}
.riba13,.riba14{
   color: rgb(4, 4, 7);
   font-family: ‘Orienta’, sans-serif; 
    font-size: 22px;
   font-style: italic;
     font-weight: bold;
     background-color: rgb(235, 241, 243);
 
}
.riba__7{
     color: rgb(113, 207, 214);
      font-family: ‘Merriweather’, serif;
     font-size:25px;
   font-weight: bold;
       line-height:28px; 
       margin: 0 0 24px;
       background-color: antiquewhite;
       
   
}
.riba15,.riba16{
   color: rgb(78, 30, 23);
 font-family: ‘Orienta’, sans-serif; 
    font-size: 22px;
   font-style: italic;
     line-height:33px; 
     background-color: rgb(224, 224, 224);
 
}
.riba__8{
     color: rgb(56, 3, 45);
      font-family: ‘Righteous’, cursive; 
     font-size:25px;
   font-weight: bold;
       line-height:28px; 
      
       background-color: rgb(188, 128, 190);
       
   
}


.footer {
    max-width: 1200px;
    background-color: rgb(81, 69, 114);
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    margin: 8% 0px 0px 0px;

}
.footer__1 {
   display: inline-flex;
   justify-content: space-between; 
   padding: 0px 20px 0px 20px;

   
}
.footer__2,a{
    color: rgb(184, 179, 179);
    font-family: ‘Open Sans’, sans-serif;
    font-size:15px;
 
}

.footer__2,a:hover{
    
font-style: italic;
   color: black;

   
}
.footer__3:hover{
  
font-style: italic;
   color: black;

   
}




@media (max-width:1200px) {

    .header {
 background-color: rgb(134, 134, 133);
}

.container {
   max-width:970px;
   
    
}



.menu__1 {
  text-align: center; 
  display: flex;
 flex-direction: column;
 padding: 20px 0;


}
.menu__2{
   display: inline-flex;
   justify-content:space-evenly;
   text-transform: uppercase;
   font-family: Arial, Helvetica, sans-serif;
   
  
}
.menu__3{
   display: inline-block;
   border: 1px solid #999595;
   background-color: rgb(57, 32, 68);
   padding:5px;
   border-radius:25px;
   font-family: ‘Rouge Script’, cursive;
   color:#fff;
  
}

.menu__3:hover{
    background-color: lightcyan;
    color: #000;
   
  
}

.ful_screen {
    position:relative;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    object-fit: cover;
   
}


.content {
}
.content__text,p{
    padding:20px;
    font-size:15px;
    margin: 0px 0px 20px 0px;
}


.sidbar {
     text-align: center;
    

}
.sidbar__vnutr {
     display: flex;
    min-height:100%;
    width: 100%;
    flex-wrap:wrap; 
    margin: 0px 0px 0px 80px;


}
.block {
    flex:0 0 80%;
     border-radius: 30px;
    color: #0f0f0f;
    border: 1px solid #445162;
     margin: 0px 0px 20px 0px;
     padding:10px;
     background-color: azure;
     
}


.block__vn {
    font-family: ‘Rouge Script’, cursive;
    font-size:15px;
    color: antiquewhite;
      text-shadow: 1px 1px 1px #2c0f5a;
    
}
.imgg{
    max-width: 90px;
    display: block;
    padding:10px 0px 0px 0px;
    margin:0 auto;

}

.block__1::before{
    content:url("../img/icon/ico2.png");
    animation-name: rotation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;


}
.block__1 {
    flex:0 0 80%;
     border-radius: 30px;
    color: #0f0f0f;
    border: 1px solid #445162;
     padding:10px;
     margin: 0px 0px 10px 0px;
     
}
.block__v1 {
    color:rgb(34, 13, 109);

   
    
}
.block__vnspan1{
    font-family: ‘Oleo Script’, cursive;
    display: inline-block;
    padding: 0px 0px 20px 0px;

    
}

.block__vnspan2{
    border: 1px solid #445162;
    background-color: rgb(181, 173, 226);
     border-radius: 20px;
     max-width:140px;
     min-height:40px;
    color:rgb(50, 12, 99);
    padding:12px 0px 0px 0px;
    display: block;
    margin: 0 auto;

}
.block__vnspan2:hover{
    background-color: #d831d8;
}

.imgg1::before{
    content:"";
    display: block;
    
}
.imgg1{
    width:30px;
  padding: 0px 0px 0px 10px;
  
    
}


.block__2 {
   flex:0 0 80%; 
   border-radius: 30px;
    color: #0f0f0f;
    border: 1px solid #445162;
    
    padding:10px;
     margin: 0px 0px 10px 0px;
     background-color: black;
     
}
.block__v2{
    color: #eee;
    margin:0 auto;
    display: inline-block;
    padding: 0px 7px 0px 7px;
    font-size:15px;
     font-family: ‘Droid Sans’, sans-serif; 
     font-weight: 400; 
     line-height: 15px; 

    
}
.block__2vnspan1{
    display: inline-block;
    padding: 0px 0px 20px 0px;
    margin:0 auto;
    color: #899707;
    text-shadow: 1px 1px 1px #abf105;
    font-weight: bold;
     font-family: ‘Droid serif’, serif;
     font-size: 20px;
    
}
.block__2vnspan2{
    display: inline-block;
    
    margin:0 auto;
    color: #899707;
   
    font-weight: bold;
     font-family: ‘Droid serif’, serif;
     text-decoration: underline;
     font-size: 15px;
    
}


.block__3 {
    flex:0 0 80%;
     border-radius: 30px;
    color: #0f0f0f;
    border: 1px solid #445162;
     
     padding:10px;
     margin: 0px 0px 10px 0px;
     background-color:rgb(204, 91, 91)
}
.block__v3 {
     display: inline-block;
   padding: 0px 8px 0px 8px;
   font-family: ‘Orienta’, sans-serif; 
}

.block__3vnspan1{
    font-family: ‘Righteous’, cursive;
    color: #DFBF84; 
    text-transform: uppercase; 
    text-shadow: 1px 1px 0 #000;
   display: inline-block;
   padding: 0px 0px 20px 0px;
    text-align: center; 
    line-height: 20px;
}
.block__3vnspan2{
    color: rgb(252, 246, 246);
     font-family: ‘Righteous’, cursive;
      font-size:20px; 
      font-weight: normal; 
      line-height: 15px;
       text-transform: uppercase; 
       text-shadow: 2px 2px 0 #000;
        display: inline-block;
   padding: 0px 0px 20px 0px;

       
}
.riba1,.riba2{
    font-size: 20px;
    font-family: ‘Orienta’, sans-serif; 

 
}
.riba__1{
    color: rgb(119, 8, 8);
    text-decoration: underline;	
   font-style: italic;
   text-shadow: 1px 1px 1px #a8b910;
   
}
.riba3,.riba4{
    color: #0c0a0a; 
    font-family: ‘Carme’, sans-serif;
     font-size: 20px;
      line-height: 24px; 
     
      font-weight: bold;
 
}
.riba__2{
     color: #a7e8f8; 
     font-family: ‘Julius Sans One’, sans-serif; 
     font-size: 22px;
      font-weight: bold;
       line-height: 32px; 
      
        text-shadow: 1px 1px 1px #082b34;
   
}
.riba5,.riba6{
    color: #291313; 
     font-family: ‘Droid Sans’, sans-serif;
     font-size:19px;
      line-height: 24px; 
      
    font-style: italic;
 
}
.riba__3{
     color: #4f5e10; 
      font-family: ‘Droid serif’, serif;
     font-size: 20px;
      font-weight: bold;
       line-height:28px; 
      
        text-shadow: 1px 1px 1px #082b34;
   
}
.riba7,.riba8{
   color: #333;
    font-family: ‘Original Surfer’, cursive; 
    font-size: 22px;
     line-height: 28px; 
 
}
.riba__4{
     color: #d831d8; 
      font-family: ‘Lobster’, cursive;
     font-size:25px;
     
       line-height:28px; 
       
       font-weight: lighter;
   
}
.riba9,.riba10{
   color: rgb(71, 71, 65);
    font-family: ‘Helvetica Neue’, sans-serif; 
    font-size: 22px;
   
     font-weight: bold;
 
}
.riba__5{
     color: rgb(189, 185, 185);
      font-family: ‘Merriweather’, serif;
     font-size:25px;
   text-decoration: line-through;
       line-height:28px; 
      
       font-weight: lighter;
   
}
.riba11,.riba12{
   color: rgb(18, 6, 83);
    font-family: ‘Open Sans Condensed’, sans-serif; 
    font-size: 22px;
   font-style: italic;
     font-weight: bold;
 
}
.riba__6{
     color: rgb(113, 207, 214);
      font-family: ‘Merriweather’, serif;
     font-size:25px;
   font-weight: bold;
       line-height:28px; 
      
       
   
}
.riba13,.riba14{
   color: rgb(4, 4, 7);
   font-family: ‘Orienta’, sans-serif; 
    font-size: 22px;
   font-style: italic;
     font-weight: bold;
     background-color: rgb(235, 241, 243);
 
}
.riba__7{
     color: rgb(113, 207, 214);
      font-family: ‘Merriweather’, serif;
     font-size:25px;
   font-weight: bold;
       line-height:28px; 
      
       background-color: antiquewhite;
       
   
}
.riba15,.riba16{
   color: rgb(78, 30, 23);
 font-family: ‘Orienta’, sans-serif; 
    font-size: 22px;
   font-style: italic;
     line-height:33px; 
     background-color: rgb(224, 224, 224);
 
}
.riba__8{
     color: rgb(56, 3, 45);
      font-family: ‘Righteous’, cursive; 
     font-size:25px;
   font-weight: bold;
       line-height:28px; 
      
       background-color: rgb(188, 128, 190);
       
   
}


.footer {
    max-width:970px;
    background-color: rgb(81, 69, 114);
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    margin: 3% 0px 0px 0px;

}
.footer__1 {
   display: inline-flex;
   justify-content: space-between; 
   padding: 0px 10px 0px 10px;

   
}
.footer__2,a{
    color: rgb(184, 179, 179);
    font-family: ‘Open Sans’, sans-serif;
    font-size:15px;
 
}

.footer__2,a:hover{
    
font-style: italic;
   color: black;

   
}
.footer__3:hover{
  
font-style: italic;
   color: black;

   
}

    
}

/* media 767*/


@media (max-width:992px) {

    .header {
 background-color: rgb(124, 124, 128);
}

.container {
   max-width:750px;
   
    
}



.menu__1 {
  text-align: center; 
  display: flex;
 flex-direction: column;
 padding: 20px 0;


}
.menu__2{
   display: inline-flex;
   justify-content:space-evenly;
   text-transform: uppercase;
   font-family: Arial, Helvetica, sans-serif;
   
  
}
.menu__3{
   display: inline-block;
   border: 1px solid #999595;
   background-color: rgb(57, 32, 68);
   padding:5px;
   border-radius:25px;
   font-family: ‘Rouge Script’, cursive;
   color:#fff;
  
}

.menu__3:hover{
    background-color: lightcyan;
    color: #000;
   
  
}

.ful_screen {
    position:relative;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    object-fit: cover;
   
}


.content {
}
.content__text,p{
    padding:10px;
    font-size:15px;
    margin: 0px 0px 10px 0px;
}


.sidbar {
    
    

}
.sidbar__vnutr {
     display: flex;
    min-height:100%;
    width: 100%;
    flex-wrap:wrap; 
    margin: 0px 0px 0px 40px;

}
.block {
    flex:0 0 80%;
     border-radius: 30px;
    color: #0f0f0f;
    border: 1px solid #445162;
     
     padding:10px;
     background-color: azure;
     margin: 0px 0px 10px 0px;
   
     
}


.block__vn {
    font-family: ‘Rouge Script’, cursive;
    font-size:15px;
    color: antiquewhite;
      text-shadow: 1px 1px 1px #2c0f5a;
    
}
.imgg{
    max-width: 90px;
    display: block;
    padding:10px 0px 0px 0px;
    margin:0 auto;

}

.block__1::before{
    content:url("../img/icon/ico2.png");
    animation-name: rotation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;


}
.block__1 {
    flex:0 0 80%;
     border-radius: 30px;
    color: #0f0f0f;
    border: 1px solid #445162;
     padding:10px;
     margin: 0px 0px 10px 0px;
     
}
.block__v1 {
    color:rgb(34, 13, 109);

   
    
}
.block__vnspan1{
    font-family: ‘Oleo Script’, cursive;
    display: inline-block;
    padding: 0px 0px 20px 0px;

    
}

.block__vnspan2{
    border: 1px solid #445162;
    background-color: rgb(181, 173, 226);
     border-radius: 20px;
     max-width:140px;
     min-height:40px;
    color:rgb(50, 12, 99);
    padding:12px 0px 0px 0px;
    display: block;
    margin: 0 auto;

}
.block__vnspan2:hover{
    background-color: #d831d8;
}

.imgg1::before{
    content:"";
    display: block;
    
}
.imgg1{
    width:30px;
  padding: 0px 0px 0px 10px;
  
    
}


.block__2 {
   flex:0 0 80%; 
   border-radius: 30px;
    color: #0f0f0f;
    border: 1px solid #445162;
    margin: 0px 0px 10px 0px;
     padding:10px;
     background-color: black;
     
}
.block__v2{
    color: #eee;
    margin:0 auto;
    display: inline-block;
    padding: 0px 7px 0px 7px;
    font-size:15px;
     font-family: ‘Droid Sans’, sans-serif; 
     font-weight: 400; 
     line-height: 15px; 

    
}
.block__2vnspan1{
    display: inline-block;
    padding: 0px 0px 20px 0px;
    margin:0 auto;
    color: #899707;
    text-shadow: 1px 1px 1px #abf105;
    font-weight: bold;
     font-family: ‘Droid serif’, serif;
     font-size: 20px;
    
}
.block__2vnspan2{
    display: inline-block;
    
    margin:0 auto;
    color: #899707;
   
    font-weight: bold;
     font-family: ‘Droid serif’, serif;
     text-decoration: underline;
     font-size: 15px;
    
}


.block__3 {
    flex:0 0 80%;
     border-radius: 30px;
    color: #0f0f0f;
    border: 1px solid #445162;
     margin: 0px 0px 10px 0px;
     padding:10px;
     background-color:rgb(204, 91, 91)
}
.block__v3 {
     display: inline-block;
   padding: 0px 8px 0px 8px;
   font-family: ‘Orienta’, sans-serif; 
}

.block__3vnspan1{
    font-family: ‘Righteous’, cursive;
    color: #DFBF84; 
    text-transform: uppercase; 
    text-shadow: 1px 1px 0 #000;
   display: inline-block;
   padding: 0px 0px 20px 0px;
    text-align: center; 
    line-height: 20px;
}
.block__3vnspan2{
    color: rgb(252, 246, 246);
     font-family: ‘Righteous’, cursive;
      font-size:20px; 
      font-weight: normal; 
      line-height: 15px;
       text-transform: uppercase; 
       text-shadow: 2px 2px 0 #000;
        display: inline-block;
   padding: 0px 0px 20px 0px;

       
}
.riba1,.riba2{
    font-size: 20px;
    font-family: ‘Orienta’, sans-serif; 

 
}
.riba__1{
    color: rgb(119, 8, 8);
    text-decoration: underline;	
   font-style: italic;
   text-shadow: 1px 1px 1px #a8b910;
   
}
.riba3,.riba4{
    color: #0c0a0a; 
    font-family: ‘Carme’, sans-serif;
     font-size: 20px;
      line-height: 24px; 
    
      font-weight: bold;
 
}
.riba__2{
     color: #a7e8f8; 
     font-family: ‘Julius Sans One’, sans-serif; 
     font-size: 22px;
      font-weight: bold;
       line-height: 32px; 
      
        text-shadow: 1px 1px 1px #082b34;
   
}
.riba5,.riba6{
    color: #291313; 
     font-family: ‘Droid Sans’, sans-serif;
     font-size:19px;
      line-height: 24px; 
      
    font-style: italic;
 
}
.riba__3{
     color: #4f5e10; 
      font-family: ‘Droid serif’, serif;
     font-size: 20px;
      font-weight: bold;
       line-height:28px; 
       
        text-shadow: 1px 1px 1px #082b34;
   
}
.riba7,.riba8{
   color: #333;
    font-family: ‘Original Surfer’, cursive; 
    font-size: 22px;
     line-height: 28px; 
 
}
.riba__4{
     color: #d831d8; 
      font-family: ‘Lobster’, cursive;
     font-size:25px;
     
       line-height:28px; 
      
       font-weight: lighter;
   
}
.riba9,.riba10{
   color: rgb(71, 71, 65);
    font-family: ‘Helvetica Neue’, sans-serif; 
    font-size: 22px;
   
     font-weight: bold;
 
}
.riba__5{
     color: rgb(189, 185, 185);
      font-family: ‘Merriweather’, serif;
     font-size:25px;
   text-decoration: line-through;
       line-height:28px; 
      
       font-weight: lighter;
   
}
.riba11,.riba12{
   color: rgb(18, 6, 83);
    font-family: ‘Open Sans Condensed’, sans-serif; 
    font-size: 22px;
   font-style: italic;
     font-weight: bold;
 
}
.riba__6{
     color: rgb(113, 207, 214);
      font-family: ‘Merriweather’, serif;
     font-size:25px;
   font-weight: bold;
       line-height:28px; 
       
       
   
}
.riba13,.riba14{
   color: rgb(4, 4, 7);
   font-family: ‘Orienta’, sans-serif; 
    font-size: 22px;
   font-style: italic;
     font-weight: bold;
     background-color: rgb(235, 241, 243);
 
}
.riba__7{
     color: rgb(113, 207, 214);
      font-family: ‘Merriweather’, serif;
     font-size:25px;
   font-weight: bold;
       line-height:28px; 
       
       background-color: antiquewhite;
       
   
}
.riba15,.riba16{
   color: rgb(78, 30, 23);
 font-family: ‘Orienta’, sans-serif; 
    font-size: 22px;
   font-style: italic;
     line-height:33px; 
     background-color: rgb(224, 224, 224);
 
}
.riba__8{
     color: rgb(56, 3, 45);
      font-family: ‘Righteous’, cursive; 
     font-size:25px;
   font-weight: bold;
       line-height:28px; 
      
       background-color: rgb(188, 128, 190);
       
   
}


.footer {
    max-width:750px;
    background-color: rgb(81, 69, 114);
    padding:10px;
    display: flex;
    flex-direction: column;
    margin: 3% 0px 0px 0px;

}
.footer__1 {
   display: inline-flex;
   justify-content: space-between; 
   padding: 0px 10px 0px 10px;

   
}
.footer__2,a{
    color: rgb(184, 179, 179);
    font-family: ‘Open Sans’, sans-serif;
    font-size:15px;
 
}

.footer__2,a:hover{
    
font-style: italic;
   color: black;

   
}
.footer__3:hover{
  
font-style: italic;
   color: black;

   
}

    
}

/* 767 */

@media (max-width:767px) {

    .header {
 background-color: rgb(168, 168, 38);
}

.container {
   max-width:none;
   
    
}



.menu__1 {
  text-align: center; 
  display: flex;
 flex-direction: column;
 padding: 20px 0;


}
.menu__2{
   display: inline-flex;
   justify-content:space-evenly;
   text-transform: uppercase;
   font-family: Arial, Helvetica, sans-serif;
   
  
}
.menu__3{
   display: inline-block;
   border: 1px solid #999595;
   background-color: rgb(57, 32, 68);
   padding:5px;
   border-radius:25px;
   font-family: ‘Rouge Script’, cursive;
   color:#fff;
  
}

.menu__3:hover{
    background-color: lightcyan;
    color: #000;
   
  
}

.ful_screen {
    position:relative;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    object-fit: cover;
   
}


.content {

}
.content__text,p{
    padding:10px;
    font-size:15px;
    margin: 0px 0px 10px 0px;
}


.sidbar {
    
    

}
.sidbar__vnutr {

     display: flex;
    min-height:100%;
    width: 100%;
    flex-wrap:wrap; 
    margin: 0px 0px 0px 35px;

}
.block {
    flex:0 0 80%;
     border-radius: 30px;
    color: #0f0f0f;
    border: 1px solid #445162;
     margin: 0px 0px 10px 0px;
     padding:10px;
     background-color: azure;
     
}


.block__vn {
    font-family: ‘Rouge Script’, cursive;
    font-size:15px;
    color: antiquewhite;
      text-shadow: 1px 1px 1px #2c0f5a;
    
}
.imgg{
    max-width: 90px;
    display: block;
    padding:10px 0px 0px 0px;
    margin:0 auto;

}

.block__1::before{
    content:url("../img/icon/ico2.png");
    animation-name: rotation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;


}
.block__1 {
    flex:0 0 80%;
     border-radius: 30px;
    color: #0f0f0f;
    border: 1px solid #445162;
   margin: 0px 0px 10px 0px;
     padding:10px;
     
}
.block__v1 {
    color:rgb(34, 13, 109);

   
    
}
.block__vnspan1{
    font-family: ‘Oleo Script’, cursive;
    display: inline-block;
    padding: 0px 0px 20px 0px;

    
}

.block__vnspan2{
    border: 1px solid #445162;
    background-color: rgb(181, 173, 226);
     border-radius: 20px;
     max-width:140px;
     min-height:40px;
    color:rgb(50, 12, 99);
    padding:12px 0px 0px 0px;
    display: block;
    margin: 0 auto;

}
.block__vnspan2:hover{
    background-color: #d831d8;
}

.imgg1::before{
    content:"";
    display: block;
    
}
.imgg1{
    width:30px;
  padding: 0px 0px 0px 10px;
  
    
}


.block__2 {
   flex:0 0 80%; 
   border-radius: 30px;
    color: #0f0f0f;
    border: 1px solid #445162;
     margin: 0px 0px 10px 0px;
     padding:10px;
     background-color: black;
     
}
.block__v2{
    color: #eee;
    margin:0 auto;
    display: inline-block;
    padding: 0px 7px 0px 7px;
    font-size:15px;
     font-family: ‘Droid Sans’, sans-serif; 
     font-weight: 400; 
     line-height: 15px; 

    
}
.block__2vnspan1{
    display: inline-block;
    padding: 0px 0px 20px 0px;
    margin:0 auto;
    color: #899707;
    text-shadow: 1px 1px 1px #abf105;
    font-weight: bold;
     font-family: ‘Droid serif’, serif;
     font-size: 20px;
    
}
.block__2vnspan2{
    display: inline-block;
    
    margin:0 auto;
    color: #899707;
   
    font-weight: bold;
     font-family: ‘Droid serif’, serif;
     text-decoration: underline;
     font-size: 15px;
    
}


.block__3 {
    flex:0 0 80%;
     border-radius: 30px;
    color: #0f0f0f;
    border: 1px solid #445162;
      margin: 0px 0px 10px 0px;
     padding:10px;
     background-color:rgb(204, 91, 91)
}
.block__v3 {
     display: inline-block;
   padding: 0px 8px 0px 8px;
   font-family: ‘Orienta’, sans-serif; 
}

.block__3vnspan1{
    font-family: ‘Righteous’, cursive;
    color: #DFBF84; 
    text-transform: uppercase; 
    text-shadow: 1px 1px 0 #000;
   display: inline-block;
   padding: 0px 0px 20px 0px;
    text-align: center; 
    line-height: 20px;
}
.block__3vnspan2{
    color: rgb(252, 246, 246);
     font-family: ‘Righteous’, cursive;
      font-size:20px; 
      font-weight: normal; 
      line-height: 15px;
       text-transform: uppercase; 
       text-shadow: 2px 2px 0 #000;
        display: inline-block;
   padding: 0px 0px 20px 0px;

       
}
.riba1,.riba2{
    font-size: 20px;
    font-family: ‘Orienta’, sans-serif; 

 
}
.riba__1{
    color: rgb(119, 8, 8);
    text-decoration: underline;	
   font-style: italic;
   text-shadow: 1px 1px 1px #a8b910;
   
}
.riba3,.riba4{
    color: #0c0a0a; 
    font-family: ‘Carme’, sans-serif;
     font-size: 20px;
      line-height: 24px; 
    
      font-weight: bold;
 
}
.riba__2{
     color: #a7e8f8; 
     font-family: ‘Julius Sans One’, sans-serif; 
     font-size: 22px;
      font-weight: bold;
       line-height: 32px; 
      
        text-shadow: 1px 1px 1px #082b34;
   
}
.riba5,.riba6{
    color: #291313; 
     font-family: ‘Droid Sans’, sans-serif;
     font-size:19px;
      line-height: 24px; 
      
    font-style: italic;
 
}
.riba__3{
     color: #4f5e10; 
      font-family: ‘Droid serif’, serif;
     font-size: 20px;
      font-weight: bold;
       line-height:28px; 
     
        text-shadow: 1px 1px 1px #082b34;
   
}
.riba7,.riba8{
   color: #333;
    font-family: ‘Original Surfer’, cursive; 
    font-size: 22px;
     line-height: 28px; 
 
}
.riba__4{
     color: #d831d8; 
      font-family: ‘Lobster’, cursive;
     font-size:25px;
     
       line-height:28px; 
      
       font-weight: lighter;
   
}
.riba9,.riba10{
   color: rgb(71, 71, 65);
    font-family: ‘Helvetica Neue’, sans-serif; 
    font-size: 22px;
   
     font-weight: bold;
 
}
.riba__5{
     color: rgb(189, 185, 185);
      font-family: ‘Merriweather’, serif;
     font-size:25px;
   text-decoration: line-through;
       line-height:28px; 
      
       font-weight: lighter;
   
}
.riba11,.riba12{
   color: rgb(18, 6, 83);
    font-family: ‘Open Sans Condensed’, sans-serif; 
    font-size: 22px;
   font-style: italic;
     font-weight: bold;
 
}
.riba__6{
     color: rgb(113, 207, 214);
      font-family: ‘Merriweather’, serif;
     font-size:25px;
   font-weight: bold;
       line-height:28px; 
      
   
}
.riba13,.riba14{
   color: rgb(4, 4, 7);
   font-family: ‘Orienta’, sans-serif; 
    font-size: 22px;
   font-style: italic;
     font-weight: bold;
     background-color: rgb(235, 241, 243);
 
}
.riba__7{
     color: rgb(113, 207, 214);
      font-family: ‘Merriweather’, serif;
     font-size:25px;
   font-weight: bold;
       line-height:28px; 
       
       background-color: antiquewhite;
       
   
}
.riba15,.riba16{
   color: rgb(78, 30, 23);
 font-family: ‘Orienta’, sans-serif; 
    font-size: 22px;
   font-style: italic;
     line-height:33px; 
     background-color: rgb(224, 224, 224);
 
}
.riba__8{
     color: rgb(56, 3, 45);
      font-family: ‘Righteous’, cursive; 
     font-size:25px;
   font-weight: bold;
       line-height:28px; 
      
       background-color: rgb(188, 128, 190);
       
   
}


.footer {
    max-width:none;
    background-color: rgb(81, 69, 114);
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    margin: 3% 0px 0px 0px;

}
.footer__1 {
   display: inline-flex;
   justify-content: space-between; 
   padding: 0px 10px 0px 10px;

   
}
.footer__2,a{
    color: rgb(184, 179, 179);
    font-family: ‘Open Sans’, sans-serif;
    font-size:15px;
 
}

.footer__2,a:hover{
    
font-style: italic;
   color: black;

   
}
.footer__3:hover{
  
font-style: italic;
   color: black;

   
}

    
}